.product{
  background-color: #f5a03c;
}
.service{
  background-color: #757171;
}
.title-product-section{
  text-align: center;
  background-color: #f5a03c;
}
.title-service-section{
  text-align: center;
  background-color: #757171;
}
.info{
  padding: 10px 50px;
  color: rgb(26, 106, 244);
  font-size: 16px;
}
